* {
    box-sizing: border-box;
    font-family: 'Noto Sans';
    font-size: 16px;
}
html, body, .container {
    height: 100%;
}
.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 320px;
    padding: 36px 24px;
    background-color: white;
    border: 1px solid #ccd0d7;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.inputs {
    width: 100%;
    margin: 16px 0 36px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.input {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.input label {
    font-weight: 500;
}
.input input, select {
    padding: 12px 16px;
    border: 1px solid #ccd0d7;
    border-radius: 8px;
    font-weight: 400;
}
.input input::placeholder {
    color: #7f838b;
}
.custom-select {
    position: relative;
}
.custom-select select {
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}
.custom-select::after {
    content: '';
    width: 6px;
    height: 6px;
    position: absolute;
    top: 62%;
    right: 20px;
    transform: rotate(45deg); /* Rotate to create a v shape */
    border-bottom: 2px solid #7f838b;
    border-right: 2px solid #7f838b;
    pointer-events: none;
}

button {
    width: 100%;
    padding: 12px 24px;
    margin-bottom: 12px;
    background-color: #48696e;
    color: white;
    border: none;
    border-radius: 8px;
    transition: 0.25s;
}
button:hover {
    background-color: #375054;
    cursor: pointer;
}

.member {
    display: flex;
    gap: 12px;
    justify-content: center;
}
.member p {
    margin: 0;
    padding: 0;
    color: #7f838b;
}
.member a {
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: #48696e;
    font-weight: 500;
}
.member a:hover {
    text-decoration: underline;
}